<nav>
  <div class="site-title">
    <a href="/"><h1>Blog App</h1></a>
    <p>A node application</p>
  </div>
  <ul>
    <li><a href="/">Blogs</a></li>
    <li><a href="/about">About</a></li>
    <li>
      <a href="/blogs/create"
        ><img
          src="https://img.icons8.com/nolan/64/google-blog-search.png"
          alt="create blog"
          title="create new blog"
      /></a>
    </li>
  </ul>
</nav>
